:root {
    --gap-scale-factor: 250;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 0;
    padding: 75px 0;
    background: linear-gradient(#ffffff, #f9d6d6);
    font-family: "Steph", sans-serif;
}

@font-face {
    font-family: "Steph";
    src: url("assets/fonts/steph-font.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Steph";
    src: url("assets/fonts/steph-font-bold.ttf");
    font-weight: bold;
}

.container {
    max-width: 100%;
    margin: 20px auto 0 auto;
}

#togepi-gif {
    width: 500px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

h1 {
    font-size: 3rem;
    margin: 50px auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 75px;
    position: relative;
}

button {
    border-radius: 8px;
    min-width: 100px;
    max-width: 550px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: 600;
    transition: transform 0.1s ease, left 0.2s ease, top 0.2s ease;
    position: absolute;
}

#yes-btn {
    color: white;
    background-color: #57915e;
    left: 50%;
    transform: translateX(-50%);
}

#no-btn {
    color: white;
    background-color: #db4e4e;
    left: 60%;
}

/* Togepi Dance */
@keyframes dance {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
}

#togepi-gif.dance {
    animation: dance 0.5s infinite;
}
